<h1>Oh God oh fuck</h1>
<h2>Upcoming</h2>
<% @future_events.each do |event| %>
  <div>
    <h2><%= link_to event.title, event %></h2>
  </div>
<% end %>
<br>
<h2>Past</h2>
<% @past_events.each do |event| %>
  <div>
    <h2><%= link_to event.title, event %></h2>
  </div>
<% end %>

<%= link_to "New Event", new_event_path %>